<div class="wrapper shadow-sm">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h3 class="title">OMDB Search</h3>
    </div>
    <div class="col-sm-6  text-center">
      <app-search (searchQuerySubmit)="onSearchQueryInput($event)"></app-search>
    </div>
  </div>
</div>


<app-movies *ngIf="movies?.length; else nomovies" [movies]="movies"></app-movies>

<ng-template #nomovies>
  <div class="welcome-card">
    Welcome to OMDB Search, search something in the bar above!
  </div>
</ng-template>



