.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.welcome-card{
    padding:20px;
    width: 48rem;
    margin: 0 auto; 
    margin-top:20px;
    text-align: center;
    float: none; 
    margin-bottom: 10px; 
    background: #e6eff3;
    border:none;
    font-size: 14px;
}

.title{
    margin-left: 60px;
}

nav{
    display: grid;
    grid-template-columns: 50% 50%;
}

nav > div{
    padding:1em;
}

.wrapper{
    padding:10px;
}



