<nav class="navbar navbar-expand-sm navbar-light shadow-sm">

 
  <div class="container">
    <div class="row">
        <div class="col-xs-6">
          <a class="navbar-brand title" href="#">OMDB Search</a>
        </div>
        <div class="col-xs-6">
          <app-search (searchQuerySubmit)="onSearchQueryInput($event)"></app-search>
        </div>
    </div>
</div>

</nav>

<app-movies *ngIf="movies?.length; else nomovies" [movies]="movies"></app-movies>

<ng-template #nomovies>
  <div class="container">
    <div class="card text-center mt-4 welcome-card" >Welcome to OMDB Search, search something in the bar above!</div>
  </div>
</ng-template>

