.search-input{
    margin-left:410px;
}




input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ececf3;
  float:left;
  text-align: center;
}
input:focus {
  border-color: #000000;
}

label {
    /* margin-left: -360px; */
    float:left;
}

.btn {
    float: left;
    margin-left: 10px;
}
